:root .theme_dark {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-opacity: #ff007066;
  --text-color: #f1b2ce;
  --decoration-color: var(--accent-color);
  --background-color: #000028;
  --brand-color: #db00ff;
  --title-color: var(--accent-color);
  --decor-color: var(--background-color);
  --is-light: hidden;
  --is-dark: visible;
}
