:root.theme-light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --brand-color: #ffc2e6;
  --title-color: var(--text-color);
  --decor-color: var(--text-color);
  --is-light: visible;
  --is-dark: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: #353430;
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --brand-color: #ffc2e6;
    --title-color: var(--text-color);
    --decor-color: var(--text-color);
    --is-light: visible;
    --is-dark: hidden;
  }
}