.page.theme_light {
  --background-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-opacity: #32312d66;
  --text-color: #353430;
  --decoration-color: var(--text-color);
  --background-color: #fff1f7;
  --header1-color: #ffc2e6;
  --header2-color: var(--text-color);
  --header3-color: var(--text-color);
  --is-light: hidden;
  --is-dark: visible;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-opacity: #32312d66;
    --text-color: #353430;
    --decoration-color: var(--text-color);
    --background-color: #fff1f7;
    --header1-color: #ffc2e6;
    --header2-color: var(--text-color);
    --header3-color: var(--text-color);
    --is-light: hidden;
    --is-dark: visible;
    }
}